body {
  background-color: #000;
  /* background-color: #fff; */
}

#console {
  font-family: courier, monospace;
  /* color: #fff; */
  color: #000;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  font-size: 14px;
}

pre {
  display: block;
  color: white;
  font-family: courier, monospace;
  white-space: pre;
  font-size: 12px;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  margin-bottom: 25px;
}


a {
  color: #0bc;
  text-decoration: none;
}

#a {
  color: #0f0;
}

#c {
  color: #0bc;
}

#b {
  color: #fff;
  /* color: #000; */
}

#k {
  animation: change 1s;
}

#op {
  color: #888888;
}

@keyframes change {
  0% {
    color: #0bc;
  }
  50% {
    color: #0bc;
  }
  99% {
    color: black;
  }
}
